* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    transition: 250ms;
}

header {
    width: 100%;
    position: fixed;
    z-index: 999;
    height: 95px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
}

.active2{
    color: #f06c64;
}

.container {
    width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

nav{
   padding-top: 29px;
   height: 90px;
}

h1 {
    display: inline;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: -0.1px;
    cursor: pointer;
}


    body > header > div > nav > ul > li:nth-child(1) > h1 > a{
        font-size: inherit;
    }
    body > header > div > nav > ul > li:nth-child(1) > h1 > a:hover{
        color: white;
    }


nav ul li {
    list-style: none;
    display: inline;
    color: white;
}

nav ul li:not(:first-child){
    float: right;
    margin-left: 28px;
    transform: translateY(10px);
}

nav li a {
    text-decoration: none;
    color: white;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1px;
}

a:hover{
    color: #f06c64;
}

.slider {
    position: relative;
    padding-top: 95px;
    height: 695px;
    background-color: #f06c64;
    
    transition: 1000ms;
}

.slider-blue {
    border-bottom: 5px solid #3d029c;
}

.items-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 566px;
}


.item {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    margin: 0 auto;
    width: initial;
}
  
.active,
  .next {
    display: block;
}
  
.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.to-left {
    animation-name: left;
  }
  
  .from-right {
    animation-name: right;
  }
  
  .to-right {
    animation-name: right;
    animation-direction: reverse;
  }
  
  .from-left {
    animation-name: left;
    animation-direction: reverse;
  }
  
  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }

.slider-box{
    height: 566px;
    width: 800px;
    margin: 0 auto;
    padding-top: 53px;
    display: flex;
    opacity: 1;
}

.slider-box2{
    height: 566px;
    width: 800px;
    margin: 0 auto;
    padding-top: 43px;
    opacity: 1;
}

.slider2-iPhone-Vertical{
    position: absolute;
    width: 255px;
    transform: translateX(273px);
    z-index: 3;
}

.slider2-iPhone-mini-left{
    position: absolute;
    transform: translateX(142px) translateY(109px);
    z-index: 2;
}

.slider2-iPhone-mini-right{
    position: absolute;
    transform: translateX(502px) translateY(109px);
    z-index: 2;
}

.Home-button-Vertical{
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    transform: translateY(408px) translateX(87px);
}

.Home-button-Vertical:hover{
    cursor: pointer;
}


.Home-button-Horizontal{
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    transform: translateY(86px) translateX( 7px);
    z-index: 66;
}

.Home-button-Horizontal:hover{
    cursor: pointer;
}

.Home-button-slider2{
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    transform: translateY(434px) translateX( 93px);
}

.Home-button-slider2:hover{
    cursor: pointer;
}

.off-screen{
    opacity: 0;
    transition: 500ms !important;
}

.off-screen-Vertical{
    position: absolute;
    width: 190px;
    height: 334px;
    transform: translateY(65px) translateX(13px);
    background-color: black;
    
}

.off-screen-Horizontal{
    position: absolute;
    width: 334px;
    height: 190px;
    transform: translateY(13px) translateX(59px);
    background-color: black;
    
}

.off-screen-slider2{
    position: absolute;
    width: 201px;
    height: 357px;
    transform: translateY(68px) translateX(14px);
    background-color: black;
    z-index: 4;
}

.Horizontal{
    padding-left: 74px;
    padding-top: 121px;
}

.chev-box{
    z-index: 60;
    position: relative;
    display: block;
    width: 938px;
    height: 27px;
    margin: 0 auto;
    transform: translateY(280.5px) ;
}

.chev1{
    float: left;
    
}
.chev1:hover{
    cursor: pointer;
}
.chev2 {
   float: right;
}
.chev2:hover{
    cursor: pointer;
}
.services{
   background-color:#f2f2f2;
   height: 500px;
   border-bottom: 6px solid white;
}

.services-info{
    padding-top: 60px;
}

.services-info h2{
    color:#666d89;
    font-size: 30px;
    font-family: Lato, sans-serif;
    font-weight: 900;
    letter-spacing: 0.15px;
}

.services-info p{
    font-size: 19px;
    line-height: 30px;
    color: #767e9e;
    font-family: 'Lato-Light';
    margin-top: 19px;
    width: 940px;
}

.services-box{
    margin-top: 44px;
    padding-bottom: 44px;
    width: 940px;
    display: grid;
    grid-template-columns: 300px 320px 320px;
    grid-template-rows: 124px 86px;

}
.service-item{
    display: flex;

}

.services-pic {
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #666d89;
    border-radius: 50%;
}

.service-item-text{
    width: 240px;
    height: 87px;
    padding-left: 20px;
}
.service-item-text h3{
    padding-bottom: 14px;
    padding-top: 1.5px;
    letter-spacing: 0.35px;
    font-size: 18px;
    line-height: 15px;
    color: #666d89;
    font-family: "Lato-Bold";
    font-weight: 900;
}
.service-item-text p{
    font-size: 12px;
    line-height: 21.9px;
    color: #767e9e;
    font-weight: 400;
    word-spacing: 3.9px;
    letter-spacing: 0.4px;
}

.portfolio{
    width: 100%;
    height: 869px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
    padding-top: 60px;
}

.portfolio-text h2{
    color:#767e9e;
    font-size: 30px;
    font-family: Lato, sans-serif;
    font-weight: 900;
    letter-spacing: 0.39px;
}

.portfolio-text p{
    margin-top: 19px;
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.20px;
    color: #767e9e;
    font-family: 'Lato-Light';
}

.portfolio-text ul{
list-style: none;
margin-top: 12px;
}

.portfolio-text li{
    margin-right: 10px;
    padding: 4px 4px 3px 5px;
    display: inline;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 18px;
    color: rgb(118, 126, 158);
    font-family: Lato-Light;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(118, 126, 158);
}

.portfolio-text li:hover{
color: #dedede;
border-color: #dedede;
cursor: pointer;
}

ul .active-portfolio{
    color: #dedede;
    border-color: #dedede;
}

.flexbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.element {
    margin-top: 20px;   
    width: 220px;
    height: 187px;
    outline: 0px solid #F06C64;
}
.element:hover{
    cursor: pointer;
}
.element:nth-child(n+13){
    display:none;
 }

 .About-us{
    padding-top: 60px;
    height: 734px;
    background-color: #f2f2f2;
    border-bottom: 6px solid white;
 }

 .about-us-box{
     margin-top: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .item2 {
     height: 444px;
     width: 300px;
 }

 .item2 h2 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Bold";
    font-weight: 900;
    margin-top: 13px;
 }

 .item2 p{
    margin-top: 11px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
 }

 .social {
     margin-top: 23px;
 }
 .social img{
    margin-right: 4px;
}
.social img:hover{
    cursor: pointer;
}

.quote{
    width: 100%;
    height: 654px;
    background-color: #f06c64;
    padding-top: 60px;
    border-bottom: solid 6px #ea676b
}

.quote h2{
    color:#f0d8d9;
    font-size: 30px;
    font-family: Lato, sans-serif;
    font-weight: 900;
    
}

.quote p{
    margin-top: 19px;
    margin-bottom: 44px;
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: 'Lato-Light';
    
}
.extended-form{
    display: flex;
    flex-wrap: wrap;
}
form {
    width: 620px;
    color: #f08586;
    
}
.form-text {
    width: 320px;
    padding-left: 20px;
    
}


input{
    display: block;
    width: 100%;
    height: 38px;
    padding-left:15px;
    margin-bottom: 16px;
    color: #f08586;
    display: inline-block;
    background-color: #d6564f;
    border:none;
    border-radius: 5px;
}

textarea {
    display: block;
    width: 100%;
    height: 202px;
    padding-top: 10px;
    padding-left:15px;
    color: #f08586;
    background-color: #d6564f;
    border-radius: 5px;
    border:none;
    resize: none;
}

button {
    display:block;
    width: 100%;
    height: 37px;
    background-color: #d6564f;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    color: #f08586;
    border:none;
    margin-top: 10px;
}
::-webkit-input-placeholder{
    color:#f08586;
}

button:hover{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

textarea:hover{
    border: 1px solid white;
    border-radius: 5px;
}
input:hover{
    border: 1px solid white;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 1px solid white;
}
textarea:focus {
    outline: none;
    border: 1px solid white;
}

.contact-info{
    margin-bottom: 21px;
}

.contact-info h3{
    margin-bottom: 11.5px;
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato-Bold";
    font-weight: 900;
}
.contact-info p{
    display: inline;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
}
.contact-list{
    padding-left: 3px;
}

.contact-list img{
    margin-right: 5px;
}

.contact-list p{
    display: inline;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
}

.contact-list p a {
    text-decoration: none;
    color: inherit;
}

footer{
    height: 76px;
    background-color: #2d303a;
}

.footer-box{
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-element:not(:last-child){
    padding-right: 8px;
}
.footer-element:first-child {
    margin-right: auto;
    color: #666d89;
    font-size: 10px;
    font-family: "Lato";
    font-weight: 400;
}

.footer-element:not(:first-child):hover{
    cursor: pointer;
}