* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    transition: 250ms;
}

header {
    height: 95px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
}

.container {
    width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

nav{
   padding-top: 29px;
   height: 90px;
}

h1 {
    display: inline;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: -0.1px;
    cursor: pointer;
}


ul li {
    list-style: none;
    display: inline;
    color: white;
}

ul li:not(:first-child){
    float: right;
    margin-left: 28px;
    transform: translateY(10px);
}

li a {
    text-decoration: none;
    color: white;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1px;
}

a:hover{
    color: #f06c64;
}

.slider {
    height: 600px;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b;
}

.slider-box{
    height: 536px;
    width: 800px;
    margin: 0 auto;
    padding-top: 53px;
    display: flex;
}

.Horizontal{
    padding-left: 74px;
    padding-top: 121px;
}

.chev{
    background-image: url("./assets/chev.png");
    cursor: pointer;
    position: absolute;
    transform: translateY(228px) translateX(-70px);
    width: 16px;
    height: 27px;
    
}

.chev2 {
    background-image: url("./assets/chev2.png");
    position: absolute;
    transform: translateY(108px) translateX(539px);
    width: 16px;
    height: 27px;
    cursor: pointer;
}

.services{
   background-color:#f2f2f2;
}

.services-info{
    padding-top: 60px;
}

.services-info h2{
    color:#666d89;
    font-size: 30px;
    font-family: Lato, sans-serif;
    font-weight: 900;
    letter-spacing: 0.15px;
}

.services-info p{
    font-size: 19px;
    line-height: 30px;
    color: #767e9e;
    font-family: 'Lato-Light';
    margin-top: 19px;
    width: 940px;
}

.services-box{
    margin-top: 44px;
    padding-bottom: 44px;
    width: 940px;
    display: grid;
    grid-template-columns: 300px 320px 320px;
    grid-template-rows: 124px 86px;

}
.service-item{
    display: flex;

}

.services-pic {
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #666d89;
    border-radius: 50%;
}

.service-item-text{
    width: 240px;
    height: 87px;
    padding-left: 20px;
}
.service-item-text h3{
    padding-bottom: 14px;
    padding-top: 1.5px;
    letter-spacing: 0.35px;
    font-size: 18px;
    line-height: 15px;
    color: #666d89;
    font-family: "Lato-Bold";
    font-weight: 900;
}
.service-item-text p{
    font-size: 12px;
    line-height: 21.9px;
    color: #767e9e;
    font-weight: 400;
    word-spacing: 3.9px;
    letter-spacing: 0.4px;
}